[Unit]
Description=myapp Service
After=syslog.target network-online.target
[Service]
Type=simple
# User=someuser
Restart=always
LimitCORE=infinity
LimitNOFILE=infinity
LimitNPROC=infinity
Environment="PATH=${PATH}:/usr/local/bin"
WorkingDirectory=/apps/my_app
ExecStart=procodile start -f
[Install]
WantedBy=multi-user.target
